.tilt {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.gradientShadow {
    padding: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contentContainer {
    border: 5px solid;
    border-image: linear-gradient(to right, #53c28b, #fa7bfa);
    border-image-slice: 1;
    border-radius: 20px;
    padding: 15px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.descheading {
    font-size: 22px;
    font-weight: 300;
}
.titleheading {
    font-size: 70px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.serviceCards {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

/* Media Queries for Responsive Styles */

@media (max-width: 768px) {
    .titleheading {
        font-size: 36px;
    }

    .descheading {
        font-size: 18px;
    }

    .contentContainer {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .icon {
        width: 30px; /* Decrease icon size for smaller screens */
        height: 30px;
    }

    .title {
        font-size: 16px; /* Slightly smaller font size for smaller screens */
    }

    .serviceCard {
        width: 100%;
        /* Full width for mobile screens */
        padding: 15px;
        /* Add padding to the card */
    }
}


