.container {
    display: flex;
    align-items: center;
    height: 80vh;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {
    font-size: 70px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(10px);
    }
}

.desc {
    font-size: 22px;
    font-weight: 300;
}

.serviceCards {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.expContainer {
    display: flex;
    align-items: center;
}

/* Media Queries for Mobile and Tablets */

@media (max-width: 768px) {

    /* Adjust container and item layout for smaller screens */
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .item {
        width: 100%;
        /* Full width for smaller screens */
        gap: 20px;
        text-align: center;
        /* Center align text */
    }

    /* Adjust font sizes for smaller screens */
    .title {
        font-size: 36px;
    }

    .img {
        height: auto;
        /* Let the image resize proportionally */
    }

    .desc {
        font-size: 18px;
    }

    /* Adjust serviceCards layout */
    .serviceCards {
        gap: 15px;
    }

    /* Adjust serviceCard width for smaller screens */
    .serviceCard {
        width: 100%;
        /* Full width for mobile screens */
        padding: 15px;
        /* Add padding to the card */
    }
}