.container {
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    position: relative;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.menuToggle {
    display: none; /* Hide the menu toggle by default */
    align-items: center;
    cursor: pointer;
    z-index: 2; /* Ensure the menu icon is above the content */
}

.menuIcon {
    width: 25px;
    height: 25px;
    fill: #333; /* Adjust color as needed */
}


.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.link {
    font-size: 16px;
    text-decoration: none; 
    transition: color 0.3s ease;
}

.link:hover {
    color: #54c28b;
}

.logout {
    padding: 5px 10px;
    border: none;
    background-color: #54c28b;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout:hover {
    background-color: #4ba97a; 
}


