.container {
    height: auto;
    padding: 20px;
}

.contactInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactItem {
    font-size: 14px;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    opacity: 0.9;
    cursor: pointer;
}

.designedBy {
    margin-top: 20px;
    text-align: center;
    opacity: 0.8;
}


/* Mobile Styles */
@media (max-width: 480px) {
    .contactInfo {
        flex-direction: column;
        gap: 10px;
    }

    .contactDetails {
        margin-bottom: 10px;
        text-align: center;
    }

    .designedBy {
        margin-top: 10px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }
}

/* Tablet Styles */
@media (max-width: 768px) {
    .contactInfo {
        gap: 15px;
    }

    .contactItem {
        font-size: 16px;
    }
}