/* page.module.css */
.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.imageContainer {
    flex-shrink: 0;
}

.image {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.content {
    flex-grow: 1;
}

.title {
    margin-bottom: 10px;
    font-size: 24px;
}

.desc {
    font-size: 19px;
}